/node_modules
/vendor
/vendor-bin
/js/dist/
/build/
/appinfo/
/css/
/l10n/
/img/
/templates/
/tests/
/docs/
/scripts/
/translationfiles/
/draco/
/basis/
/dist/
*.mjs
*.cjs
*.md
*.json
*.xml
*.yml
*.yaml
*.lock
*.log
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.map
*.min.js
*.min.css
webpack.config.js
webpack.devel.js
webpack.js
babel.config.js
jest.config.js
rector.php
psalm.xml
playwright.config.js
playwright.config.ts
vite.config.js
stylelint.config.cjs
babel.config.cjs
jest.config.cjs
basis_transcoder.js
basis_transcoder.wasm
draco_decoder.js
draco_decoder.wasm
draco_wasm_wrapper.js
