name: Check Dependencies

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    environment: Prod
    
    steps:
      - name: Check dependencies
        run: |
          echo "Checking..."
          echo "${{ secrets.APP_PRIVATE_KEY }}"
          echo "Done."

